.add-button {
  border-radius: 5%;
  padding: 10px 25px;
  /* background-color: rgb(255, 99, 42); */
  /* color: white; */
}

.add-button:hover {
    box-shadow: 0px 0px 10px 1px #aaaaaa;
}

.add-div {
    /* background-color: rgba(9, 255, 0, 0.555); */
    grid-area: add;
    text-align: center;
}