.collection-div {
    max-width: 1000px;
    text-align: center;
    margin: 50px auto;
}

.collection-link {
    display: block;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 5px;
}


.collection-link:hover {
    box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.2), 4px 4px 20px 0 rgba(0, 0, 0, 0.19), 4px 4px 5px 5px rgba(0, 0, 0, 0.521);
}

