.search-add-grid {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  grid-template-areas: ". search add .";
}

.title {
  text-align: center;
}

.todo-div {
  color: tomato;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: -1;
}

body {
  background-color: rgb(233, 233, 233);
}